.header {
    background: #F5F5F5;
    &__container{
        padding: 20px 0;
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            padding: 37px 0 52px;
        }
    }
    &__logo{
        align-self: center;
        @media screen and (max-width: 768px) {
            margin-bottom: 54px;
        }
    }
    &__nav{
        margin-left: auto;
        display: flex;
        align-self: center;
        @media screen and (max-width: 768px) {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
    }
    &__link{
        padding-right: 32px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #000C2D;
        &--active{
            font-weight: 700;
        }
        @media screen and (max-width: 768px) {
            padding-right: 0;
            padding-bottom: 14px;
            &:last-child{
                margin-bottom: 40px;
            }
        }
    }
    &__button{
        padding: 12px 23px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        background: #FFFFFF;
        border: 1px solid #2F70FE;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: #2F70FE;
    }
}